<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File"
            layout="${longdate} [${level}] ${message} ${exception:format=ToString}"
            fileName="${basedir}/Logs/VCA3_Log.txt"
            archiveFileName="${basedir}/Logs/VCA3_Log.{#}.txt"
            archiveEvery="Day"
            maxArchiveFiles="5"
            archiveAboveSize="1048576"
            createDirs="true"            
            keepFileOpen="true"
            encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>